.container_main {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  background: linear-gradient(125deg, #f0f0ff 50%, #282828 50%);
}

.position_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_twitch {
  flex: 1;
}
.container_youtube {
  flex: 1;
}

.img_twitch {
  width: 200px;
}

.img_yt {
  width: 250px;
}
